/* alternative */

.bg-image{
    left:0;
    top: 0;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

html {
    --s: 50px; /* control the size*/
    --c1: #d91f12;
    --c2: #732b2b;
    
    --c:#0000 75%,var(--c1) 0;
    --g1:conic-gradient(at 78% 3%,var(--c));
    --g2:conic-gradient(at 3% 78%,var(--c));
    background:
      var(--g1),
      var(--g1) var(--s) var(--s),
      var(--g1) calc(2*var(--s)) calc(2*var(--s)),
      var(--g1) calc(3*var(--s)) calc(3*var(--s)),
      var(--g2) 0 calc(3*var(--s)),
      var(--g2) var(--s) 0,
      var(--g2) calc(2*var(--s)) var(--s),
      var(--g2) calc(3*var(--s)) calc(2*var(--s))
      var(--c2);
    background-size: calc(4*var(--s)) calc(4*var(--s));
  }

.allcombo{
    background-color: rgba(0, 0, 0, 0.502);
    /* min-height: 1075px; */
    display: flex;
    align-items:flex-start;
    border: 2px solid black;
    flex-wrap: wrap;
}

image{
    width: 740px;
    height: 460px;
}

.lkj{
    font-size: 30px;
}

.opr{
    width: 60px;
    position: fixed;
    margin: 0px;
    float: left;
    background-image: linear-gradient(90deg, white, black);
    transition: 0.5s;
}

.opr:hover{
    transform: scale(1.11) rotate(-0.03turn) translateY(10px);
    transform-origin: 10px 10px; 
}

.opr:active{
    transform: rotate(0.01turn);
}

.combos{
    width: 50px;
    margin-left: 5px;
}

iframe{
    width: 552px, 75%;
    height: 331px, 75%;
}

.yui{
    background-color: rgba(114, 114, 114, 0.502);
    float: left;
    margin-right: 60px;
    min-width: 50px;
}
/* header */
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.gif{
    width: 15%;
    position: fixed;
    z-index: 1;
}

header{
    background-color: rgba(18, 17, 39, 0.95);
    border: 2px solid black;
}
/* main */
main h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: 10px;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

main p, main li{
    font-family: Comic Sans MS, Comic Sans;
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

main a{
    font-family: Comic Sans MS, Comic Sans;
}

.asd{
    margin-top: 20px;
    position: relative;
    top: 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secret{
    background-color: rgba(0, 0, 0, 0.466);
    width: 10px;
    height: 10px;
}

.secret-main{
    background-color: rgba(3, 14, 83, 0.484);
    border: 4px splid black;

}

.secret-main p, .secret-main h1, .secret-main h2, .secret-main a{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secret-main a{
    color: mistyrose;
}

.tap-button{
    margin: 10px 20px 10px 20px;
    background-color: rgba(58, 58, 58, 0.5);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25%;
    text-decoration: none;
    transition: 1s;
    border: 2px solid black;
}

.button{
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(30, 29, 29, 0.5);
    color: white;
    border-radius: 25%;
    text-decoration: none;
    transition: 1s;
    border: 2px solid black;
}

.button:hover, .tap-button:hover{
    transform: scale(110%);
}

.button:hover a, .tap-button:hover a{
    font-weight: bold, 600;
}

.button:active, .tap-button:active{
    transform: scale(105%);
}

.pc{
    width: calc(100% - 100px);
    text-align: center;
    margin: 0 auto;
    background-image: repeating-linear-gradient(
    45deg,
    transparent,
    #005fff88 5%,
    transparent 10%
  ), repeating-linear-gradient(135deg,
  transparent,
  #005eff88 5%,
  transparent 10%);
    border: 2px solid black;
}

.pc a img{
    width: 25%;
    max-width: 250px;
    transition: 0.5s;

}

nav a img:hover{
    transform: scale(110%);

}

nav a img:active{
    transform: scale(90%);
}

main{
    background-color: rgba(18, 17, 39, 0.95);
    border: 2px solid black;
    margin-top: 5px;
}
/* footer */

footer p, footer li{
    font-size: 20px;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

footer b{
    text-decoration: underline rgb(255, 255, 255);
    font-weight: 500px;
}

footer a{
    color: white;
    
}

footer{
    background-color: rgba(18, 17, 39, 0.95);
    border: 2px solid black;
    margin-top: 5px;
        /* height: 80px; */
      }

/* slider */

.slider{
    display: none;
}

.wrapper{
    width: 70%;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    animation-name: anim;
    animation-duration: 5s;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    background-image: repeating-linear-gradient(
    45deg,
    transparent,
    #005eff88 5%,
    transparent 10%
  ), repeating-linear-gradient(135deg,
  transparent,
  #005eff88 5%,
  transparent 10%);
}

.img-container{
    height: 200px;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-container img{
    max-width: 100%;
    max-height: 200px;
    min-height: 150px;
    min-width: 150px;
}
  

@media (max-width: 1150px){
    .container{

        display: block;
    }

    .pc{
        display: none;
    }

    .slider{
        display: block;
        
    }
}
