/* alternative */
/* .frt{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 274px;
} */

#searchResults .search-result { 
    display: flex;
     align-items: center;
      margin: 10px 0; 
    }
    
    #searchResults .search-img { 
    width: 40px;
    height: 40px;
    margin-right: 10px;
    }

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

#searchInput {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResults .search-result {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#searchResults .search-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#searchResults a {
    display: flex;
    justify-content: center;
    color: #007BFF;
    max-width: 200px;
    background-color: white;
    border-radius: 10%;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-align: center;
}

#searchResults a:hover {
    color: #0056b3;
    background-color: rgb(185, 181, 181);
    text-decoration: underline;
}


.pc a .big-hover {
    position: absolute;
    max-height: 0;
    min-width: 200px;
    padding: 0;
    overflow: hidden;
    border-radius: 9.1%;
    left: 0;
    bottom: 0;
    background: radial-gradient(#000000, #0c19ff99);
    transition: 1s;
  }

  .pc a:hover .big-hover {
    max-height: 300px;
    padding: 2px;
  }
  
  .big-hover p{
    position: relative;
    bottom: 15px;
  }

.bg-image{
    left:0;
    top: 0;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

html {
    background: url(img/2453c1d3c9a84fe6f9216f7a0ebb85e7.jpeg);
  }

.allcombo{
    background-color: rgba(0, 0, 0, 0.502);
    /* min-height: 1075px; */
    display: flex;
    align-items:flex-start;
    border: 2px solid black;
    flex-wrap: wrap;
}

image{
    width: 740px;
    height: 460px;
}

.lkj{
    font-size: 30px;
}

.opr{
    width: 62px;
    position: fixed;
    margin: 0px;
    margin-left: -2px;
    z-index: 2;
    float: left;
    background-image: linear-gradient(90deg, white, black);
    transition: 0.5s;
}

.opr:hover{
    transform: scale(1.11) rotate(-0.03turn) translateY(10px);
    transform-origin: 10px 10px; 
}

.opr:active{
    transform: rotate(0.01turn);
}

.combos{
    width: 50px;
    margin-left: 5px;
}

iframe{
    width: 552px, 75%;
    height: 331px, 75%;
    border-radius: 10%;
    position: relative;
    top: 10px;
    bottom: 20px;
    left: 10px;
}

.item{
    width: 30px;
    height: 30px;
}

.yui{
    background-color: rgba(114, 114, 114, 0.502);
    /* float: left; */
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    min-width: 50px;
}
/* header */
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.gif{
    width: 15%;
    position: fixed;
    z-index: 1;
}

header{
    background-color: rgba(18, 17, 39, 0.95);
    border: 2px solid black;
}
/* main */
main h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: 10px;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

main p, main li{
    font-family: Comic Sans MS, Comic Sans;
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

main a{
    font-family: Comic Sans MS, Comic Sans;
}

.asd{
    margin-top: 20px;
    position: relative;
    top: 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secret{
    background-color: rgba(0, 0, 0, 0.466);
    width: 10px;
    height: 10px;
    position: relative;
}

a.secret{
    max-width: 10px;
    max-height: 10px;
}

.secret-main{
    background-color: rgba(3, 14, 83, 0.484);
    border: 4px splid black;
    font-family: Minecraft;
}

.secret-main p{
    font-family: 'Minecraftia', sans-serif;
}

.secret-main p, .secret-main h1, .secret-main h2, .secret-main a{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.secret-main a{
    color: mistyrose;
}

.tap-button{
    margin: 10px 20px 10px 20px;
    background-color: rgba(58, 58, 58, 0.5);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25%;
    text-decoration: none;
    transition: 1s;
    border: 2px solid black;
}

.button{
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(30, 29, 29, 0.5);
    color: white;
    border-radius: 25%;
    text-decoration: none;
    transition: 1s;
    border: 2px solid black;
}

.button:hover, .tap-button:hover{
    transform: scale(110%);
}

.button:hover a, .tap-button:hover a{
    font-weight: bold, 600;
}

.button:active, .tap-button:active{
    transform: scale(105%);
}

.pc{
    width: calc(100% - 100px);
    text-align: center;
    border-radius: 1%;
    margin: 0 auto;
    background-image: repeating-linear-gradient(
    45deg,
    transparent,
    #005fff88 5%,
    transparent 10%
  ), repeating-linear-gradient(135deg,
  transparent,
  #005eff88 5%,
  transparent 10%);
    border: 2px solid black;
}

/* .pc a img{
    width: 25%;
    max-width: 250px;
    transition: 0.5s;

}

/* nav a img:hover{
    transform: scale(110%);

} */

nav a img:active{
    transform: scale(90%);
} 

main{
    background-color: rgba(18, 17, 39, 0.95);
    border: 2px solid black;
    margin-top: 5px;
}

strike{
    color: white;
    z-index: 0.5;
    position: fixed;
    margin-top: 0px;
}

.pc a > h2 {
    margin: 0;
    color: #326237;
  }

  .pc a {
    position: relative;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px ridge blue;
    border-radius: 10%;
    box-shadow: 2px 1px 2px 0 royalblue;
    min-height: 300px;
    margin: 10px 5px;
    text-decoration: none;
    transition: 500ms;
  }
  
  .pc a:hover {
    position: relative;
    display: inline-block;
    transform: scale(105%);
  }
  
  .pc a:active {
    position: relative;
    display: inline-block;
    transform: scale(102%);
  }


  .pc a .hover {
    position: absolute;
    max-height: 0;
    min-width: 246px;
    padding: 0;
    overflow: hidden;
    border-bottom-left-radius: 9.1%;
    border-bottom-right-radius: 9.1%;
    left: 0;
    bottom: 0;
    background: radial-gradient(#000000, #0c19ff99);
    transition: 1s;
  }

  .pc a:hover .hover {
    max-height: 300px;
    padding: 2px;
  }
  
  .pc a img {
    width: 250px;
    max-width: 250px;
    transition: 0.5s;
  }
/* footer */

footer p, footer li{
    font-size: 20px;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

footer b{
    text-decoration: underline rgb(255, 255, 255);
    font-weight: 500px;
}

footer a{
    color: white;
    
}

footer{
    background-color: rgba(18, 17, 39, 0.95);
    border: 2px solid black;
    margin-top: 5px;
        /* height: 80px; */
      }

/* slider */

.slider{
    border-radius: 2%;
    display: none;
    width: 70%;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    animation-name: anim;
    animation-duration: 5s;
    animation-direction:normal;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    background-image: repeating-linear-gradient(
    45deg,
    transparent,
    #005eff88 5%,
    transparent 10%
  ), repeating-linear-gradient(135deg,
  transparent,
  #005eff88 5%,
  transparent 10%);
}

.img-container{
    height: 200px;
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-container img{
    max-width: 100%;
    max-height: 200px;
    min-height: 150px;
    min-width: 150px;
}
  
#search {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
  }
  
  #fruit-list li {
    padding: 5px;
  }
  
  .hidden {
    display: none;
  }



@media (max-width: 1150px){
    .container{

        display: block;
    }

    .pc{
        display: none;
    }

    .slider{
        display: block;
        
    }
}